nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
   background-repeat: no-repeat;
   background-size: cover;
 }
 .parallax-container
 {
  color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
  color: white;
 }
}
 nav a.button-collapse
 {
  color:black;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
  list-style: none;
}

.share-buttons li{
  display: inline;
}
nav
{
  overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #ee6e73;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}




 .parallax img 
 {
   background-repeat: no-repeat;
   background-size: cover;
 }
 .parallax-container
 {
  color: black;
 }
 @media only screen and (max-width : 600px) {
  .parallax-container
 {
  color: white;
 }
}
 nav a.button-collapse
 {
  color:black;
 }
 .purple.lighten-1 {
  background-color: #CC0066 !important;
}
.teal-text.text-lighten-2 {
  color: #CC0066 !important;
}
.share-buttons{
  list-style: none;
}

.share-buttons li{
  display: inline;
}
nav
{
  overflow: visible;
}
nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


.progress-pie-chart {
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}

.progress-pie-chart.gt50
 {
  background-color: #585858;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background:  #585858;
  transform: rotate(60deg);
}

.gt50
 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt50
 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.91304px/2);
  top: calc(50% - 173.91304px/2);
  width: 173.91304px;
  height: 173.91304px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color:  #585858;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 50px auto 0;
}


