<div class="progress-pie-chart" ng-class="{gt50: show}"><!--Pie Chart -->
                    <div class="ppc-progress">
                        <div class="ppc-progress-fill"  style="transform: rotate({{deg()}}deg);-webkit-transform: rotate({{deg()}}deg);-ms-transform: rotate({{deg()}}deg)"></div>
                    </div>
                    <div class="ppc-percents">
                    <div class="pcc-percents-wrapper">                 
                        <span>{{text}}</span>
                    </div>
</div>