@import 'ext/solarized-light';

div.highlighter-rouge {
	max-width: 1000px;
	position: relative;
	//ight: 150px;
	//margin: 40px 0;
}

.highlight {
	background-color: #f4f4f4;
}

div.highlight {
	padding: 20px 20px;
}

pre.highlight, code {
	font-family: 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}